cta-ordered-list {
  display: contents;
}

cta-ordered-list :where(.cta__ordered-list) {
  margin: -0.5rem 0 1rem 0;
  padding: 0 0 0 1.5rem; 
  list-style-position: outside; 
}

cta-ordered-list :where(.cta__ordered-list) :where(.cta__ordered-list) {
  margin: 0;
}

cta-ordered-list :where(.cta__ordered-list) li::marker {
  color: var(--list-item-marker-color, var(--color-alt-contrast3, var(--color-text-default, inherit)));
  content: "" counter(list-item, decimal) ". ";
  display: block;
  width: 1.588em;
}
cta-ordered-list :where(.cta__ordered-list__numeric-marker) li::marker {
  content: "" counter(list-item, decimal) ". ";
}
cta-ordered-list :where(.cta__ordered-list__lowercase-letters-marker) li::marker {
  content: "" counter(list-item, lower-alpha) ". ";
}
cta-ordered-list :where(.cta__ordered-list__uppercase-letters-marker) li::marker {
  content: "" counter(list-item, upper-alpha) ". ";
}
cta-ordered-list :where(.cta__ordered-list__lowercase-roman-marker) li::marker {
  content: "" counter(list-item, lower-roman) ". ";
}
cta-ordered-list :where(.cta__ordered-list__uppercase-roman-marker) li::marker {
  content: "" counter(list-item, upper-roman) ". ";
}


cta-ordered-list :where(.cta__ordered-list[keep-parent-counter]) li::marker {
  content: "" counters(list-item, '.') ". ";
}
cta-ordered-list :where(.cta__ordered-list__numeric-marker[keep-parent-counter]) li::marker {
  content: "" counters(list-item, '.', decimal) ". ";
}
cta-ordered-list :where(.cta__ordered-list__lowercase-letters-marker[keep-parent-counter]) li::marker {
  content: "" counters(list-item, '.', lower-alpha) ". ";
}
cta-ordered-list :where(.cta__ordered-list__uppercase-letters-marker[keep-parent-counter]) li::marker {
  content: "" counters(list-item, '.', upper-alpha) ". ";
}
cta-ordered-list :where(.cta__ordered-list__lowercase-roman-marker[keep-parent-counter]) li::marker {
  content: "" counters(list-item, '.', lower-roman) ". ";
}
cta-ordered-list :where(.cta__ordered-list__uppercase-roman-marker[keep-parent-counter]) li::marker {
  content: "" counters(list-item, '.', upper-roman) ". ";
}
